body {
    width: 100%;
    margin: 0;
}

.container {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    color: #393939;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 60px;
    margin-bottom: 0;
}

h2 {
    font-size: 30px;
}

h3 {
    color: #f56969;
    font-size: 20px;
    margin-top:0;
}

p {
    font-size: 14px;
    font-family: 'Trocchi', serif;
}

a {
    font-size: 22px;
    font-family: 'Trocchi', serif;
    text-decoration: none;
    height: 128px;
    color: #0a93ac;
    margin-left: 10px; 
}

    a:hover {
        background-color: #0a93ac;
        color: #fff;
    }

.span3 {
  width: 220px;
}

.span4 {
    width: 300px;
}

.span1 {
    width: 100%;
}

[class*="span"] {
    float: left;
}

section div {
    clear: both;
}

.encyc h3 {
    font-size: 18px;
}
