html {
    background: #fff;
}
#main {
    width: 50vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
a{
    color: #160e36;
}
section a {
    margin: calc(16vw * .05) 0;
}
		
h2 {
    font-size: calc(16vw * .3);
    margin: 0;
    color: #160e36;
}

.indiv{
    margin-top: calc(16vw * .1);
}

.project .desc{
    width: calc(16vw * 3.3);
}

.indiv .builtwith {
    font-size: calc(16vw * .075);
}

.builtwith span{
    color: #aaa;
}
		
.desc {
    font-size: calc(16vw * .09);
    margin: 0;
}
		
.desc span {
    color: #f00
}

.project a{
    font-size: calc(16vw * .12);
}

@media screen and (max-width: 530px) {
    #main {
        width: 100%;
    }
    h2 {
        font-size: calc(16vw * .45);
    }
    .project .desc{
        width: 100%;
    }
    .desc {
        font-size: calc(16vw * .24);
    }
    .indiv .builtwith {
        font-size: calc(16vw * .2);
    }
    .project a{
        font-size: calc(16vw * .28);
    }
}