<header>
    <h2>Revenue</h2>
    <p>
        The top 25 grossing films of 2015 made {{grossingDifference}} more in revenue than the films of 2005:
        a {{percentIncrease | number:0}}% increase over the decade.
    </p>
    <p>
        The increase in revenue was partly because of growth in the foreign market.
        In 2005 {{revenueUS05 | number:0}}% of the revenue came from the US compared to {{revenueUS15 | number:0}}%
        in 2015.
    </p>
    <div id="inflation">
        <p>
            Inflation:
            <input type="radio" name="adjusted" value="false" id="unadjusted-radio" ng-model="adjusted" />
            <label for="unadjusted-radio">actual</label>
            <input type="radio" name="adjusted" value="true" id="adjusted-radio" ng-model="adjusted" />
            <label for="adjusted-radio">adjusted</label>
        </p>
    </div>
</header>
<div id="grossing">
    <div id="highest-gross" class="flex-parent">
        <h4>Highest Gross<br /><span class="sub-h4">(worldwide)</span></h4>
        <div id="05-gross" class="left"><p><span class="gross-year years">2005<br /></span><span class="gross-title titles">{{highestGross05.title}}<br /></span> <span class="gross-gross gross">{{highestGross05.gross}}</span></p></div>
        <div id="15-gross" class="right"><p><span class="gross-year years">2015<br /></span><span class="gross-title titles">{{highestGross15.title}}<br /></span> <span class="gross-gross gross">{{highestGross15.gross}}</span></p></div>
    </div>
    <div id="total-gross" class="flex-parent">
        <h4>Total Gross<br /><span class="sub-h4">(worldwide)</span></h4>
        <div id="05-total-gross" class="left"><p><span class="gross-year years">2005<br /></span><span class="gross-total total gross">{{totalGross05}}</span></p></div>
        <div id="15-total-gross" class="right"><p><span class="gross-year years">2015<br /></span><span class="gross-total total gross">{{totalGross15}}</span></p></div>
    </div>
    <div class="chart">
        <svg viewBox="0 0 840 200" preserveAspectRatio="xMidYMid meet"></svg>
    </div>
</div>