<h2>Reviews</h2>
<div id="review-site">
    <input type="radio" name="site" value="rottentomatoes" id="rottentomatoes" ng-model="reviewSite" />
    <label for="rottentomatoes">rottentomatoes.com</label>
    <input type="radio" name="site" value="rogerebert" id="rogerebert" ng-model="reviewSite" />
    <label for="rogerebert">rogerebert.com</label>
</div>
<div id="rottentomatoes-reviews" ng-if="reviewSite==='rottentomatoes'">
    <p>Rotten Tomatoes is a review website that rates movies on a scale of 0-100%.</p>
    <p>
        75-100% for Certified Fresh<br />
        74-60% for Fresh<br />
        0-59% for Rotten
    </p>
</div>
<div id="rottentomatoes-reviews" ng-if="reviewSite==='rogerebert'">
    <p>
        rogerebert.com is a review website that rates movies on a scale of 1-4 stars, with
        1 star being the lowest rating a film could get and 4 stars being the highest.
    </p>
</div>