<header>
    <h2>Sources</h2>
    <p class="description">
        Original productions fell from {{sourcesFive.Original.length}} films in 2005 to
        {{sourcesFifteen.Original.length}} films in 2015.
        <!--Rethink term "Original Production."-->
    </p>
    <p>
        Books were the largest source of derivaties in 2005 with 6 adaptations. 
        In 2015, Sequels were the highest derivative production-12 films-followed by book adaptations at 7 films.
    </p>
</header>
<div id="sources">
    <div id="sources05">
        <h3>2005</h3>
        <div class="flex-sources">
            <div ng-repeat="source in sources" class="{{classed(source)}} source source-05" id="{{classed(source)}}-05" ng-if="sourcesFive[source]">
                <p>
                    <span class="source-number">{{sourceLength(sourcesFive, source)}}. </span>
                    <span class="source-name">{{source}}</span><br />
                    <span class="source-gross gross">{{currencyFormat(sourceGross(sourcesFive[source], 'gross'))}}</span><br />
                    <span class="source-titles titles">{{sourceTitles(sourcesFive, source)}}</span>
                </p>
            </div>
        </div>
    </div>
    <div id="sources15">
        <h3>2015</h3>
        <div class="flex-sources">
            <div ng-repeat="source in sources" class="{{classed(source)}} source source-15" id="{{classed(source)}}-15" ng-if="sourcesFifteen[source]">
                <p>
                    <span class="source-number">{{sourceLength(sourcesFifteen, source)}}. </span>
                    <span class="source-name">{{source}}</span><br />
                    <span class="source-gross gross">{{currencyFormat(sourceGross(sourcesFifteen[source], 'gross'))}}</span><br />
                    <span class="source-titles titles">{{sourceTitles(sourcesFifteen, source)}}</span>
                </p>
            </div>
        </div>
    </div>
</div>