<h2>Sources</h2>
<section>
    Of the top 25 grossing movies of 2005, {{sourcesFive.Original.length}} were original productions. 
    Of the top 25 grossing movies of 2015, {{sourcesFifteen.Original.length}} were original productions.
    
    <div id="sources05">    
        <h3>2005</h3>  
        <div ng-repeat="source in sources"> 
            <div id="{{sources}}05" ng-if="sourcesFive[source]">
                <span class="source-number">{{sourceLength(sourcesFive, source)}}</span><br />
                <span class="source-name">{{source}}</span><br />
                <span class="source-titles">{{sourceTitles(sourcesFive, source)}}</span><br />
                <span class="source-gross">{{currencyFormat(sourceGross(sourcesFive[source], 'gross'))}}</span>
            </div>
        </div>
    </div>
    <div id="genre15">
        <h3>2015</h3>
        <div ng-repeat="source in sources">
            <div id="{{source}}15" ng-if="sourcesFifteen[source]">
                <span class="source-number">{{sourceLength(sourcesFifteen, source)}}</span><br />
                <span class="source-name">{{source}}</span><br />
                <span class="source-titles">{{sourceTitles(sourcesFifteen, source)}}</span><br />
                <span class="source-gross">{{currencyFormat(sourceGross(sourcesFifteen[source], 'gross'))}}</span>
            </div>
        </div>
    </div>
</section>