@import url(https://fonts.googleapis.com/css?family=Anton|Roboto+Slab|Ek+Mukta|Droid+Serif|Lato);
html {
  background-color: #fff;
  color: #000;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-items: center; }

.no-js {
  color: #550707;
  font-family: sans-serif;
  font-size: 16px; }
  .no-js #error {
    color: red; }

body {
  width: 1200px; }
  @media screen and (max-width: 1200px) {
    body {
      width: 98%; } }

.main-header {
  width: 30%;
  margin-bottom: 25px; }
  .main-header h1 {
    margin-bottom: 0;
    font-family: "Anton", sans-serif; }
  .main-header p {
    margin-top: 0;
    font-family: "Roboto Slab", serif;
    font-size: 15px; }
  @media screen and (max-width: 720px) {
    .main-header {
      width: 100%; } }

h3, .centered {
  text-align: center; }

.category {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  padding: 20px 0; }
  .category header {
    position: relative;
    top: 0;
    width: 28%;
    padding-right: 2%;
    text-align: left; }
    .category header h2 {
      font-family: "Ek Mukta", sans-serif;
      font-size: 20px; }
    .category header p {
      font-family: "Roboto Slab", serif;
      font-size: 15px; }
    @media screen and (max-width: 720px) {
      .category header {
        width: 100%;
        top: 0;
        border-top: 1px solid #eaeaea; } }
  .category > div {
    top: 0;
    border-top: 2px solid #eaeaea;
    width: 70%; }
    .category > div h3 {
      font-family: "Ek Mukta", sans-serif; }
    .category > div h4 {
      font-family: "Ek Mukta", sans-serif;
      line-height: 15px; }
    .category > div .titles {
      font-family: "Droid Serif", serif; }
      .category > div .titles:not(.source-titles):not(.review-title) {
        font-size: 18px; }
    .category > div .years, .category > div .gross {
      font-family: "Roboto Slab", serif;
      font-size: 15px; }
      .category > div .years:not(.total), .category > div .gross:not(.total) {
        color: #4f4f4f; }
    .category > div .total {
      font-size: 17px; }
    .category > div .rt-score, .category > div .re-average {
      font-family: "Lato", sans-serif;
      font-size: 24px; }
      .category > div .rt-score:not(.rt-average):not(.re-average):after, .category > div .re-average:not(.rt-average):not(.re-average):after {
        content: ' / ';
        color: #000;
        font-size: 18px; }
        @media screen and (max-width: 410px) {
          .category > div .rt-score:not(.rt-average):not(.re-average):after, .category > div .re-average:not(.rt-average):not(.re-average):after {
            content: none; } }
    .category > div .rotten {
      color: #bd3838; }
    @media screen and (max-width: 720px) {
      .category > div {
        width: 100%;
        border-top: none; } }

input[type='radio'] {
  display: none; }
  input[type='radio']:checked + label {
    background-color: #71cf46;
    color: #fff; }
    input[type='radio']:checked + label:hover {
      border: 1px solid #fff; }

label {
  display: inline-block;
  padding: 5px;
  margin-bottom: 5px;
  color: #d8d8d8;
  border: 1px solid #fff; }
  label:hover {
    border: 1px solid #71cf46; }

.chart svg {
  width: 100%;
  height: auto;
  /*border: 1px solid black;*/
  margin: 10px 0; }

.flex-parent {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  text-align: center; }
  .flex-parent h4 {
    width: 100%;
    margin: 5px 0; }
  .flex-parent div {
    width: 46%;
    padding: 0 2%; }
  .flex-parent .left {
    text-align: right; }
  .flex-parent .right {
    text-align: left; }

.flex-genre {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: auto; }
  .flex-genre div {
    border: 1px dotted #eaeaea;
    display: inline;
    text-align: center;
    width: auto;
    width: 20.5%;
    padding: 2%; }
    .flex-genre div:nth-child(1) {
      border-bottom: none; }
    .flex-genre div:nth-child(n+2):nth-child(-n+3) {
      border-left: none;
      border-bottom: none; }
    .flex-genre div:nth-child(4), .flex-genre div:nth-child(n+6):nth-child(-n+7) {
      border-left: none; }
    @media screen and (max-width: 720px) {
      .flex-genre div {
        width: 31%;
        padding: 1%; } }

.flex-sources {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start; }

.source {
  border-bottom: 1px solid #eaeaea;
  margin-right: 4%;
  width: 29%; }

.source-05:nth-child(n+6), .source-15:nth-child(n+3) {
  border-bottom: none; }

.star {
  width: 15px; }

.film-reviews svg {
  height: 25px; }
.film-reviews img {
  width: 20px; }

#reviews > div {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  text-align: center; }
  #reviews > div h3 {
    width: 100%; }
  #reviews > div .film-reviews {
    width: 33%;
    border: 1px solid #eaeaea; }
    #reviews > div .film-reviews:nth-child(3n), #reviews > div .film-reviews:nth-child(3n+2) {
      border-right: none; }
    #reviews > div .film-reviews:nth-child(-n+25) {
      border-bottom: none; }
    #reviews > div .film-reviews div p {
      display: inline; }
      @media screen and (max-width: 410px) {
        #reviews > div .film-reviews div p {
          display: block; } }

footer {
  border-top: 2px solid #eaeaea;
  width: 70%;
  margin-top: 25px;
  margin-left: auto;
  color: #aaaaaa; }
  footer a {
    color: #808080; }
  @media screen and (max-width: 720px) {
    footer {
      width: 100%; } }

/*# sourceMappingURL=main.css.map */
