body {
    background-image: url(graphy.png); /*background pattern from http://subtlepatterns.com/ */
}

header {
    position: relative;
    text-align: center;
    line-height: 0.5em;
    width: 100%;
    top: -10px;
    left: 0;
    border-bottom: 1px solid #000;
}

h1 {
    cursor: default;
    font-family: 'Iceland', cursive;
    font-size: 2.5em;
    color: #808080;
}

.cat {
    position: relative;
    list-style-type: none;
    font-family: 'Port Lligat Slab', serif;
    text-align: center;
    padding: 0;
    cursor: default;
    width: 100%;
    top: 0;
    left: 0;
}

.small {
    margin: 0;
    padding: 0;
    font-size: .3em;
}

.cat {
    font-size: 2em;
    position: relative;
    width: 100%;
    left: 0;
    cursor: pointer;
    transition: background-color linear .35s;
}

    .cat p {
        font-size: 12px;
        position: relative;
        top: -10px;
        line-height: 12px;
    }

    .cat a {
        text-decoration: none;
        color: #1dbd9f;
        transition: color linear .35s;
    }

    .cat:hover {
        background-color: #c75858;
    }

        .cat:hover > a, .cat:focus > a {
            color: #09d4f1;
        }

.unitBox {
    background-color: rgba(0, 0, 0, 0.40);
    font-size: 20px;
    top: 0;
    width: 100%;
    left: 0;
    display: none;
}

.unitBox, input, select {
    font-family: 'Anaheim', sans-serif;
    color: #000;
}

    .unitBox > div {
        border-bottom: 1px solid #e8e8e8;
    }

.layer2 > div {
    position: relative;
    top: 1.5em;
}

.layer3 > div {
    position: relative;
    top: 3.5em;
}

select {
    font-size: 1em;
    position: relative;
    display: block;
    margin: auto;
}

.short {
    width: 180px;
}

.long {
    width: 220px;
}

input, .result {
    position: relative;
    font-size: 2em;
    display: block;
    margin: auto;
}

input {
    color: #3775a4;
    border-color: #808080;
    border-style: solid;
    width: 10em;
    text-align: center;
}

:-moz-placeholder {
    color: #e8e8e8;
}

::-moz-placeholder {
    color: #e8e8e8;
}

:-ms-input-placeholder {
    color: #e8e8e8;
}

::-webkit-input-placeholder {
    color: #e8e8e8;
}

.result {
    color: #3775a4;
    border-color: #808080;
    border-style: solid;
    width: 10em;
    text-align: center;
    background-color: #fff;
}

.layer2 {
    position: relative;
    top: 1em;
    height: 7.5em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.layer3 {
    position: relative;
    top: 0;
    height: 9.5em;
    width: 100%;
    padding: 0;
    margin: 0;
}

.close {
    position: relative;
    right: 0;
    color: #c75858;
    font-size: 2em;
    text-align: center;
    height: 1.5em;
    border-top: 1px solid #000;
    cursor: pointer;
}
