<div id="region">
    <input type="radio" name="region" value="worldwide" id="world-radio" ng-model="options.region" />
    <label for="world-radio">Worldwide</label>
    <input type="radio" name="region" value="domestic" id="us-radio" ng-model="options.region" />
    <label for="us-radio">US</label>
</div>
<div id="inflation">
    <input type="radio" name="adjusted" value="false" id="unadjusted-radio" ng-model="options.adjusted" />
    <label for="unadjusted-radio">Not Adjusted for Inflation</label>
    <input type="radio" name="adjusted" value="true" id="adjusted-radio" ng-model="options.adjusted" />
    <label for="adjusted-radio">Adjust for Inflation</label>
</div>
<!--<div id="highest-grossing">
    In 2005 the highest grossing movie was {{test}}, making
    {{highestGrossing.five.worldwide[0].worldwide.actual}}. In 2015 the highest grossing movie was {{}}, making
    {{}}.
    <br />
    The top grossing 25 movies of 2005 made //totalGrossing.five}} some% less than the movies of
    2015 ({{}}).
</div>
<div id="budget">
    The most expensive movie of 2005 was {{}}, with a production budget of
    {{}}.
    The most expensive movie of 2015 was {{}}, with a production budget of
    {{}}.
</div>-->

{{highestGrossingFive}}