body {
    background-color: #fff;
    margin: 0;
    width: 100%;
    background-color: #28a5ee;
}

.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 5%;
    margin: 0;
    background-color: #fff;
    background-image: url(images/bg3.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 8% 5%;
}

.controls {
    background-color: rgba(0, 0, 0, 0.50);
    position: absolute;
    bottom: 4%;
    right: 50px;
    width: 140px;
    outline: 1px solid red;
    padding: 15px;
}

[type=button] {
    background-color: #28a5ee;
    border: none;
    color: #fff;
}

a {
    position: absolute;
    bottom: 0.5%;
    right: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    color: #28a5ee;
    text-decoration: none;
    padding-left: 5px;
}

    a img {
        width: 15px;
        padding-left: 5px;
        border: none;
    }

    a:hover {
        background-color: #fff;
    }